<div class="login-box">
		<div class="login-logo">
        	<img src="{{ asset('bundles/app/images/logo.png') }}">
        	<a href="{{ path('show_dashboard') }}"><b>Admin</b>LOGIN</a>
      	</div><!-- /.login-logo -->

		<div class="login-box-body">