{% extends "layout/base-layout.html.twig" %}

{% block page_title %}Edit Profile  {% endblock %}
{% block page_subtitle %} {{ app.user.getName() }} {% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-6">
		<div class="box box-primary">
			{% include "SalexUserBundle:Profile:edit_content.html.twig" %}
		</div> <!-- End of box-primary -->
	</div> <!-- end of col-md-6 -->
</div> <!-- End of Row -->
{% endblock %}