{% extends "::master.html.twig" %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block page_header %} <i class="fa fa-fw fa-lock"></i> Change Password  {% endblock %}
{% block page_header_description %} {{ app.user.getName() }} {% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                {% include "SalexUserBundle:ChangePassword:changePassword_content.html.twig" %}
            </div> <!-- End of box-primary -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- End of Row -->
{% endblock %}