{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block user_auth_contents %}
	<div class="alert alert-success alert-dismissible">
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
	</div>
{% endblock user_auth_contents %}
