{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	{% include "SalexUserBundle:includes:loginWrapper.html.twig" %} 
	
	<div class="alert alert-success alert-dismissible">
		{{ 'resetting.check_email'|trans({'%email%': email}) }}
	</div>
</div> <!-- End of login-box-body -->
</div><!-- End of login-box -->
{% endblock %}
