{% extends 'layout/loginBase.html.twig' %}

{% block title %}{{ site_name }}{% endblock %}

{% block page_content %}
	{% block fos_user_content %}
		<div class="login-box">
			<div class="login-logo">
				<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/images/logo.jpg') }}"></a>
			</div><!-- /.login-logo -->

			<div class="login-box-body">
				{% block user_auth_contents %} {% endblock %}
			</div> <!-- End of login-box-body -->
		</div><!-- End of login-box -->
	{% endblock %}
{% endblock %}